html, body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
}

header{
    box-shadow: 2px 0 5px darkgray;
}

.wrapper{
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
}

header .wrapper{
    box-sizing: border-box;
    display: flex;
    height: 120px;
    justify-content: space-between;
}

header .wrapper h1{
    margin: 9px 10px;
}

header .wrapper nav{
    margin-top: 44px;
}
header .wrapper nav a{
    color: #777;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 50px;   
}

.banner_frete{
    position: sticky;
    top:0px;
    width:100%;
    height:35px;
    background-color: #C2185B;
    box-sizing: border-box;
    z-index: 15;
}

.banner_frete h2{
    color:#fff;
    font-size: 14px;
    text-align: center;
    padding: 7px 0;
    margin: 0;
}

content .wrapper h2{
    color:#575757;
    font-size: 39px;
    font-weight: 600;
    margin-left: 50px;
    width: 100%;
}

content .wrapper{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: #9B9B9B;
}

content .wrapper .formulario{
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    width:540px;
}

content .wrapper .formulario .form_desc{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

content .wrapper .formulario input{
    border: 1px solid #9b9b9b;
}

content .wrapper .formulario small{
    font-size: 14px;
    line-height: 16px;
}

content .wrapper .formulario label p{
    font-size: 18px;
    margin-bottom: 0;
    margin-top:15px;
}

content .wrapper .formulario div{
    font-size: 18px;
    margin-bottom: 0;
    margin-top:15px;
}

content .wrapper .formulario .input_text{
    width: 100%;
}

content .wrapper .formulario .margin_left{
    margin-left: 35px;
}

content .wrapper .formulario .mensagem textarea{
    width: 100%;
    border: 1px solid #9b9b9b; 
}

content .wrapper .formulario .curriculo{
    margin-top: 25px;
}


content .wrapper .formulario .button_enviar{
    border: 1px solid #C2185B;
    background-color: #C2185B;
    box-sizing: border-box;
    color: #fff;
    height: 33px;
    margin-top: 22px;;
    width: 100%;
}

content .wrapper .sobre{
    box-sizing: border-box;
    margin-left: 50px;
    width:470px;
}


footer .wrapper{ 
    background-color: #C2185B;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

footer .wrapper .logo{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    width: 400px;
}

footer .wrapper .footer_links{
    display: flex;
    padding-bottom: 20px;
}

footer .wrapper .footer_links .coluna{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 30px;
    text-align: left;
}

footer .wrapper .footer_links .coluna h5{
    font-weight: 700;
    font-size: 20px;
}
footer .wrapper .footer_links .coluna a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    
}


